<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Vídeos App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w1280/rKq1Vlw0Bqe2EEvdmIkkkgPQAGf.jpg">
      </ion-thumbnail>
      <ion-label>
        <div class="ion-text-wrap">
          <h1>Viúva Negra (2021)</h1>
          <p>08/07/2021 (BR) - 2h 13m</p>
          <p>Ação, Aventura, Thriller, Ficção científica</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
